.jumbotron {
  border-radius: 0px;
  /* background-image: url("https://cdn.pixabay.com/photo/2016/09/04/20/09/mountains-1645078__480.jpg"); */
  /* copy address image */
  background-image: url("https://cdn.pixabay.com/photo/2017/05/31/23/44/email-marketing-2362038__340.png");
  height: 300px;
  /* width: 100%; */
  background-size: cover;
}
